doctype 5
html
  head
    title Tracon X
    meta(name='keywords', content='anime, manga, animaatio, sarjakuva, roolipeli, roolipelit, Tracon, Tampere-talo, roolipelitapahtuma, animetapahtuma')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='#') Tracon X
    .jumbotron.tracon9-jumbotron
      .container
        p(style='float: right'): small.text-muted Kuva: Tiiti &amp; Timo Kellomäki
        h1
          | Tracon X
          small  Tampere-talossa 5.&ndash;6.9.2015
        p Tampereen roolipeli- ja animetapahtuma Tracon tulee taas!
    .container
      //- .jumbotron
      //-     h2 Joululahjaksi Tracon-liput ja upea kalenteri!
      //-     p Nyt voit tilata esimerkiksi joululahjaksi Traconin joulupaketin, johon kuuluu valintasi mukaan joko yksi tai kaksi Tracon X -viikonloppuranneketta sekä Traconin upea seinäkalenteri vuodelle 2015.
      //-     p Joulupaketit ovat saatavilla vain <strong>joulukuun 12. päivään asti</strong>, jotta ne ehditään postittaa ennen joulua.
      //-     p
      //-       a.btn.btn-primary(href='https://turska.tracon.fi/events/traconx/tickets') Lippukauppaan »
      .row
        .col-md-4
          h2 Vänkäriksi Traconiin?
          p Vänkärit eli conin talkootyöntekijät pitävät tapahtuman pyörimässä. Heitä tarvitaan monissa tehtävissä, kuten lipunmyyjinä, järjestyksenvalvojina, valokuvaajina, majoitusvalvojina jne.
          p Ilmoitamme vänkärihaun avautumisesta myöhemmin.
          p: a.btn.btn-success(href='/tyovoima') Lue lisää »
          p: a.btn.btn-primary(href='https://kompassi.tracon.fi/events/traconx/signup', target='_blank') Ilmoittaudu »
        .col-md-4
          h2 Ohjelmaa järjestämään?
          p Traconin ohjelmassa on joka vuosi kymmenittäin erilaisia anime-, manga-, cosplay-, roolipeli-, fantasia- ja videopeliaiheisia luentoja, paneelikeskusteluita, kilpailuita ja esityksiä. Haluaisitko pitää jonkun niistä?
          p Traconin ohjelmatiimi ottaa vastaan ohjelmatarjouksia sähköpostiosoitteessa <em>ohjelma ät tracon.fi</em>.
          p: a.btn.btn-success(href='/ohjelma') Lue lisää »
        .col-md-4
          h2 Seuraa meitä!
          p Lue ensimmäisenä uudet uutiset Traconista ja osallistu keskusteluun seuraamalla meitä sosiaalisessa mediassa!
          p
            a.btn.btn-info(href='https://twitter.com/Tracon_FI', target='_blank', role='button') Tracon Twitterissä »
          p
            a.btn.btn-primary(href='https://facebook.com/Tracon.fi', target='_blank', role='button') Tracon Facebookissa »
      hr
      footer
        p © Tracon ry 2013&ndash;2015 &middot; <em>yhteys ät tracon.fi</em>
    .modal.fade#vankariksi
      .modal-dialog
        .modal-content
          .modal-header
            a.btn.btn-link.close(href='/') &times;
            h4.modal-title Vänkäriksi Traconiin?
          .modal-body
            p
              img.img_caption(src='http://2013.tracon.fi/sites/tracon2013/files/jv_web.png', alt='jv-tyttö', width='210', height='370', style='float: right;')
              | Ohjelmanpitäjien ja conitean eli järjestäjien lisäksi Traconin tekemiseen osallistuu yli 300 vapaaehtoistyöntekijää, vänkäriä.
            p Vänkärinä on vinkeää! Taustavoimiin kuuluessasi tutustut helposti samanhenkisiin ihmisiin ympäri Suomen ja saat nauttia tapahtumasta aivan uudella tavalla. Työvuorojesi ulkopuolella pääset vapaasti työvoiman taukotilaan, jossa conifiilis on parhaimmillaan. Vedä siis conipaita päälle ja liity remmiin.
            p Traconin vänkärit ovat muun muassa
            ul
              li ohjelma-avustajia (salitekniikkavänkärit, cosplay-mammat, karaokenhoitajat ym.)
              li tekniikkavänkäreitä
              li narikkatyövoimaa
              li järjestyksenvalvojia (JV-kortti!)
              li majoitusvalvojia
              li green room -työläisiä (hygieniapassi!)
              li infotyöläisiä
              li yleisvänkäreitä
              li autokuskeja (ajokortti!)
              li lipunmyyjiä ja -tarkastajia
              li valo- ja videokuvaajia
            p Eri tehtäväalueilta halutaan myös jo vastaavissa tehtävissä aiemmissa coneissa kouliintuneita konkareita ns. <strong>vuorovastaaviksi</strong> ohjaamaan oman tehtäväalueensa vihreämpiä työläisiä. Vuorovastaavain tehtäviin valitaan huomattavan määrän kokemuspisteitä aiemmissa coneissa keränneitä, jotka eivät pelkää ottaa vähän isompaa vastuuta conin aikana tai jo sitä ennen.
            p Vänkäriksi valittavien on oltava tapahtuman aikana vähintään <strong>15 vuotta</strong> täyttäneitä. Osaan tehtävistä (vuorovastaavat, järjestyksenvalvojat, lipunmyyjät, autokuskit mm.) valitaan vain <strong>18 vuotta</strong> täyttäneitä. Lisäksi kaikkien kynnelle kykeneviä tarvitaan conin kasaukseen perjantaina ja purkuun sunnuntaina.
            h4 Työvoimaedut
            p
              | Traconissa työskennellään talkoohengessä, mutta vänkäreillä riittää työvoimaetuja.
            p Tekemällä vähintään 8 tuntia töitä Traconissa saat mm.
            ul
              li ilmaisen sisäänpääsyn molempina päivinä
              li pääsyn green roomiin voileipä- ja kahvitarjoiluineen
              li lämpimän ruuan
              li
                | T-paidan
                em  (kunhan ilmoittaudut vähintään 1,5 kk etukäteen)
              li
                | pääsyn virkistäytymään staffin uima-altaalliseen saunatilaan lauantai-iltana sekä conin purkamisen jälkeen Dead Dog -rantasaunalle sunnuntaina
              li
                | halutessasi lattiamajoituksen sekä perjantain ja lauantain että lauantain ja sunnuntain väliselle yölle
            p
              | Toivotamme myös erityisen tervetulleiksi kaikki työn sankarit, jotka haluvat antaa coniajastaan vieläkin enemmän yhteiseen käyttöön! Hommia löytyy myös esimerkiksi 10 tai 12 tunnin pätkissä.
            p Saat halutessasi myös työtodistuksen työskentelystäsi Traconissa.
            h4 Vänkärikoulutus
            p
              | Vänkäriksi lähtemistä ei kannata empiä vain siksi, että oma kokemattomuus arveluttaa.
            p
              | Vänkäreiksi hyväksytyille järjestetään ennen Traconia koulutus tehtäviin. Opastusmateriaalia pääsee lueskelemaan sähköisessä muodossa jo hyvissä ajoin ennen tapahtumaa. Lisäksi tilat, tapahtuma ja jokaisen omat työtehtävät käydään vielä läpi ennen muun conikansan paikallesaapumista.
            p
              | Vänkärikoulutukseen osallistuminen ei ole pakollista, mutta etenkin ensikertalaisille se on erittäin suotavaa. Kokeneille konkareille koulutus tarjoaa hyvän tilaisuuden tutustua etukäteen kanssavänkäreihin.
            h4 Kaatajaiset
            p
              | Kaikki conia tehneet ovat tervetulleita tapahtuman päätteeksi sunnuntai-iltana myöhemmin ilmoitettavassa paikassa järjestettävälle jatkosaunalle eli
              em  dead dog
              |  -partyihin. Lauantai-iltana on myös tarjolla conipaikan lähellä saunomismahdollisuus uima-altaineen!
            p
              | Kaikki vänkärit ovat myös tervetulleita viikkoa tai paria conin jälkeen järjestettävään kiitostilaisuuteen eli ns.
              strong  kaatajaisiin
              |  (ruoka- ja juomatarjoilu).
            h4 Yhteystiedot
            p
              | Lisätietoja Traconissa työskentelystä antaa työvoimatiimi, jonka tavoittaa sähköpostiosoitteella
              em  tyovoima ät tracon.fi
              |  .
          .modal-footer
            .btn-group
              a.btn.btn-success(href='https://kompassi.tracon.fi/events/traconx/signup', target='_blank') Ilmoittaudu työvoimaan
              a.btn.btn-default(href='/') Sulje
    .modal.fade#ohjelmaa
      .modal-dialog
        .modal-content
          .modal-header
            a.btn.btn-link.close(href='/') &times;
            h4.modal-title Ohjelmaa järjestämään?
          .modal-body
            p Tracon on ennen kaikkea aktiivisten harrastajien tapahtuma. Siksi kaipaammekin jälleen ohjelmaa myös teiltä kaikilta Traconin kävijöiltä ja yhteistyökumppaneilta. Ohjelma Traconissa on perinteisesti ollut luentoja, paneelikeskusteluja, esityksiä, työpajoja, turnauksia sekä pelejä, mutta otamme mielellään harkintaan myös kaikki uudet ohjelmaformaatit.
            p Osviittaa siitä, minkälaista ohjelmaa Traconissa on aikaisemmin ollut, saat esimerkiksi <a href='https://ohjelma.tracon.fi' target='_blank' title='Tracon 8: Ohjelmakartta'>edellisen tapahtuman ohjelmakartasta</a>, mutta älä anna perinteisten käsitysten siitä mitä coniohjelma on rajoittaa mielikuvitustasi!

            p Erilaisten yhteisöjen ja yhdistysten <b>esittelypöydät</b> ja <b>miitit</b> ovat oleellinen osa tapahtuman tarjontaa. Myös niille varataan tilaa tänäkin vuonna.
            p Seuraavassa muutama vihje siitä miten parhaiten saat oman ohjelmasi mukaan Traconiin:

            ul
              li Aloita <b>suunnittelu</b> hyvissä ajoin ja ota yhteyttä osoitteeseen <em>ohjelma ät tracon.fi</em>. Tavoitat järjestäjiämme myös IRCistä kanavalta <em>#tracon</em>, joka löytyy IRCNetistä.
              li Mitä <b>valmiimmaksi</b> olet ideasi hionut, sitä todennäköisemmin haluamme sen mukaan Traconiin, mutta tiimimme tarjoaa apuaan myös ohjelmaidean jalostamisessa.
              li Mieti valmiiksi luennon <b>kohdeyleisö</b> ja miten se sitoutuu tapahtuman pääteemoihin (anime, manga, roolipelit, cosplay). Otamme toki joka vuosi mukaan myös hieman kaukaisempien aihepiirien ohjelmaa, mutta pääpaino on edellämainituilla kategorioilla.
              li Tilarajoitteista johtuen rajaamme useimpien ohjelmapitäjien ohjelmamäärän <b>yhteen ohjelmaan per tapahtuma</b>, mutta mikäli sinulla on useampi hyvä idea, voit toki kysyä myös mahdollisuudesta toiseen ohjelmaan.
            p Tracon on viime vuosina kasvanut niin suureksi, että saamme enemmän ohjelmatarjouksia kuin voimme mahduttaa mukaan ohjelmakarttaan. Haluamme kuitenkin myös tarjota uusille ohjelmanpitäjille mahdollisuuden olla mukana toteuttamassa ohjelmaa. Emme siis halua vain jo tunnetuiksi tulleita esiintyjiä vaan myös uusia lupauksia!
            h4 Yhteystiedot
            p Lisätietoja ohjelmanpitämisestä Traconissa antaa ohjelmatiimi, jonka tavoittaa sähköpostiosoitteella <em>ohjelma ät tracon.fi</em>.
          .modal-footer
            a.btn.btn-default(href='/') Sulje
    script(src='js/bundle.js')
