purple1 = rgb(11, 2, 19)
purple2 = rgb(54, 10, 92)
purple3 = rgb(81, 15, 138)

grey9 = rgb(220, 220, 220)

fonts = 'Roboto', 'Helvetica Neue', 'Helvetica', Arial, sans-serif

*
  font-family fonts

body
  padding-top 50px
  padding-bottom 20px

.tracon9-jumbotron
  background purple1 url('../img/ritari_levea_mockup.jpg') no-repeat center center
  height 360px

.navbar.navbar-tracon9
  background purple2

  .navbar-nav
    margin-top 2px
    font-weight bold

    // XXX ridiculously long selector to beat bootstrap
    li > a
      color grey9

      &:hover 
        color white


.navbar-logo
  background transparent url('../img/tracon9_logo_header.png') no-repeat center top
  width 185px
  height 55px

h1, h2, h3, h4, h5, h6
  color purple1
  font-family fonts

.btn-tracon
  background purple2
  color white

  &:hover
    background purple3
    color white

@media (min-width: 992px)
  .ads
    text-align right

@media (max-width: 991px)
  .ads img
    margin-right 10px

.ads img
  display inline-block
  margin-top 10px
