purple1 = rgb(101, 19, 98)
purple2 = rgb(11, 2, 19)

body
  padding-top 50px
  padding-bottom 20px

.tracon9-jumbotron
  background purple2 url('../img/ritari_levea_mockup.jpg') no-repeat center center
  height 360px

.navbar.navbar-tracon9
  background purple1

h1, h2, h3, h4, h5, h6
  color purple1